/* _content/Lab250205_EmptyASP.NET_PJ/Views/Shared/_LayoutYellow.cshtml.rz.scp.css */
body[b-ppsyy6bnkm] {
}
h1[b-ppsyy6bnkm] {
    color:yellow;
    font-family: 'Kiwi Maru';
    background-color: darkblue;
}
