@{
    ViewData["Title"] = "Member";
}

<div class="text-center">
    <h1 class="display-4">Welcome 歡迎 字型:Kiwi Maru</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core <br> 字型:Wingdings </a>.</p>
</div>
