@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // Layout = "";
}

<h1>元宵節AA</h1>

<a href="/Anime/Pokemon">去看皮卡丘</a>
<br>
<a href="/Anime/Doraemon">去看多拉A夢</a>
