<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/MyCat.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
</head>
<body>
    <div>
        <h1 style="color:blue">我是藍色公版</h1>
        @RenderBody()
    </div>
</body>
</html>
