<style>
	img.card-img-top {
		transition: transform 0.2s; /* Animation */
	}

	img.card-img-top:hover {
		transform: scale(1.5); /* Zoom out 2x */
	}
</style>
<div class="col-4">
	<div class="card" style="width: 18rem;">
		<img src="~/img/1.gif" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">Never Gonna Give You UP~ , Never Gonna Let You Down ~</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>
</div>